@font-face {
    font-family: 'RealMadrid';
    src: url('/css/real-madrid-2022.woff2') format('woff2'),
         url('/css/real-madrid-2022.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    font-family: 'RealMadrid', sans-serif;
    font-size: x-large;
    background-color: #00529F;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    margin-right: 10px;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    letter-spacing: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    padding: 0px 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
}
nav ul li a:hover {
    color: #b59e6a;
}

main {
    padding: 2em 1em;
    margin: 2em auto;
    max-width: 800px;
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;    
}
#form{
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'RealMadrid', sans-serif;
    font-size: xx-large;
    letter-spacing: 2px;
}


footer {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 100%;
    margin-top: auto;
}

footer img {
    margin-right: 10px;
}

footer p {
    margin: 0;
}

.content-section {
    margin-bottom: 20px;
}

.content-section h2 {
    margin-bottom: 10px;
    font-family: 'RealMadrid', sans-serif;
    color: #00529F;
    border-bottom: 2px solid #00529F;
    font-size: x-large;
}

.content-section a {
    text-decoration: none;
    color: #004080;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
.content-section a:hover {
    color: #b59e6a;
}
.content-section p {
    margin-bottom: 10px;
}

.logo_foot {
    transition: 0.3s ease-in-out;
}

.logo_foot:hover {
    transform: rotate(45deg);
}

/* Connection et Inscription */

#inscription {
    width: 100%;
    max-width: 400px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2em;
    box-sizing: border-box;
}

#inscription h2 {
    text-align: center;
    color: #00529F;
    margin-bottom: 1.5em;
    border-bottom: 2px solid #00529F;
}

#login {
    width: 100%;
    max-width: 400px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2em;
    box-sizing: border-box;
}

#login h2 {
    text-align: center;
    color: #00529F;
    margin-bottom: 1.5em;
    border-bottom: 2px solid #00529F;
}

.form-group {
    margin-bottom: 1.5em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 0.75em;
    background-color: #00529F;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #004080;
}

/* Chants */

#videos {
    width: 100%;
    max-width: 800px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2em;
    box-sizing: border-box;
}

#videos h2 {
    text-align: center;
    color: #00529F;
    margin-bottom: 1.5em;
    border-bottom: 2px solid #00529F;

}

.video-item {
    margin-bottom: 2em;
}

.video-item h4 {
    color: #333;
    margin-bottom: 0.5em;
}

.video-item video {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0.5em;
}

.video-item p {
    color: #666;
}

/* Calendrier */

#next-matches {
    width: 100%;
    max-width: 800px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2em;
    box-sizing: border-box;
}

#next-matches h2 {
    text-align: center;
    color: #00529F;
    margin-bottom: 1.5em;
    border-bottom: 2px solid #00529F;

}

.matches-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.match-item {
    background: #f9f9f9;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.match-item .date,
.match-item .hour,
.match-item .opponent,
.match-item .competition {
    display: block;
    margin-bottom: 0.5em;
}

.match-item .date,
.match-item .hour {
    color: #00529F;
    font-weight: bold;
}

.match-item .opponent {
    color: #333;
}

.match-item .competition {
    color: #666;
}

/* Joueurs */

#players {
    width: 100%;
    max-width: 1000px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2em;
    box-sizing: border-box;
}

#players h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5em;
    font-size: xx-large;
    border-bottom: 2px solid black;

}

#players .coach,
#players .player-category {
    margin-bottom: 2em;
}

.player , .coach {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    font-family: 'RealMadrid';
    margin-bottom: 1em;
    font-size: large;
}

.player img {
    border-radius: 8px;
    height: auto;
    margin-bottom: 0.5em; 
}

.coach img {
    border-radius: 8px;
    height: auto;
    margin-bottom: 0.5em; /
}

#players h3 {
    font-family: 'RealMadrid', sans-serif;
    font-size: x-large;
}
.blop_E{
    background: #004599;
    border-radius: 22px ;
    height: 36px;
}
.blop_G{
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.595),#bde78d, #bde78d); */
    background-color: #bde78d;
    border-radius: 22px 22px 0px 0px; 
    height: 36px;
}
.blop_D{
    background: #b59e6a;
    border-radius: 22px ;
    height: 36px;
}
.blop_M{
    background: #b59e6a;
    border-radius: 22px ;
    height: 36px;
}
.blop_A{
    background: #b59e6a;
    border-radius: 22px ;
    height: 36px;
}


/* Accueil */

#team {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#team h2 {
    margin-bottom: 20px;
    text-align: left;
}

#team p {
    margin-bottom: 10px;
    text-align: center;
}

#team img {
    max-width: 100%;
    height: auto;
}

#team p#source_compo {
    font-size: small;
}

/* Responsiveness */
/* @media (max-width: 1280px){
    main {
        padding: 2em 1em;
        margin: 2em auto;
        max-width: 1000px;
        width: 100%;
    }
} */

@media (max-width: 1024px){
    .logo_M{
        display: none;

    }
    .logo_LDC{
        display: none;
    }
    main {
        padding: 2em 1em;
        margin: 2em auto;
        max-width: 700px;
        width: 100%;
    }
}
@media (max-width: 900px) {
    
    header {
        flex-direction: column;
        text-align: center;
        }

    main {
        padding: 2em 1em;
        margin: 2em auto;
        max-width: 400px;
        width: 100%;
    }
        
    nav ul {
        flex-direction: raw;
        gap: 10px;
        align-items: center;
    }
    

    nav ul li {
        margin: 5px 0;
    }

    footer {
        flex-direction: column;
        align-items: center; 
    }

    footer img {
        margin-bottom: 10px;
    }

    .player {
        flex-direction: column;
        align-items: center; 
    }

    .player img {
        margin-left: 0;
        margin-top: 0.5em;
    }

}

@media (max-width: 630px) {

    nav ul {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
}

